<div class="container">
  <div class="row">
	<h1>Támogatás</h1>
	<div class="container">
	  <p>A szerver jelenleg nodar nappaliában fut egy kiszuperált laptopról. Azért nem kell félni, i5, 8Gb RAM tehát lag nem lesz, de nem túl professzionális ez a megoldás, és hosszútávon nem működőképes. Ahhoz, hogy a szerver a lehető legtovább működni tudjon és, hogy nektek a lehető legjobb élményt nyújtsa, segítenetek kell! Ketten sajnos nem tudjuk egyedül megoldani.</p>
	  <p>Ha úgy érzed támogatni szeretnéd a működésünk és persze <span class="label label-warning">VIP</span> rangot szeretnél kapni, akkor keress minket a <span class="label label-default">craftersmain[at]gmail.com</span> címen.</p>
	  <p>Jelenglegi támogatóink: <span class="label label-warning">Mezii</span> <span class="label label-warning">Dompike</span></p>
	</div>
  </div>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

