<% content_for :title, "Adatvédelmi irányelvek" %>
<div class="container">
  <div class="row">
	  <h1>Adatvédelmi irányelvek</h1>
  	<div class="container container-narrow">
      <p class="bigger-text">Az Ön által megadott személyes adatokat harmadik személy számára csak érvényes hatósági utasítás esetén adjuk ki.<br />
      A Crafters Reborn oldal használatával Ön beleegyezik, hogy az Ön által megadott adatokat és beállításait, rendszerünk kényelmesebbé és biztonságosabbá tétele, oldalunk fejlesztése és hibák feltérképezése, illetve név nélküli statisztikák készítése érdekében eltároljuk és felhasználjuk.<br />
      Ezeket az információkat rendszerünk biztonságos algoritmusokkal és módszerekkel védi.</p>
      <h4>Sütik</h4>
      <p class="bigger-text">Oldalunk az azonosítás céljából sütiket használhat, így kényelmesebbé téve az oldalon való böngészést. Amennyiben a sütik fogadását letiltja, úgy bizonyos funkciókat esetleg nem fog tudni igénybe venni.</p>
      <h4>Harmadik fél</h4>
      <p class="bigger-text"> Személyes információit semmilyen harmadik félnek nem adjuk ki. Fenttartjuk a jogot azonban a névtelen, nem személyes információk kiadására statiszkai, marketing vagy egyéb célokra.</p>
      <h4>Változtatás joga</h4>
      <p class="bigger-text">Az Üzemeltető fenntartja a jogot jelen Adatvédelmi irányelvek oldal módosítására. A módosításokról, azok életbe lépését megelőzően, értesítjük a felhasználókat valamely formában. Amennyiben a felhasználó nem fogadja el a változásokat, lehetősége van kérvényezni fiókja végleges törlését az előző pontban leírtaknak megfelelően.</p>
	  </div>
  </div>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

