<% content_for :title, "Szabályzat" %>
<div class="container">
  <div class="row">
	<h1>Szabályzat</h1>
	<div class="panel panel-primary panel-primary-green">
	  <div class="panel-heading panel-heading-green">
		<h3 class="panel-title">Általános</h3>
	  </div>
	  <ul class="list-group">
		<li class="list-group-item">
		  <span class="badge">Pár nap, vagy örökban</span>
		  <span class="lead">Ne lopj!</span>
		  <ul>
			<li>Növények, állatok ellopása is lopás</li>
			<li>Halott játékos dolgainak felvétele is lopás</li>              
			<li>Bannolt játékos dolgainak elvétele is lopás</li>
		  </ul>
		</li>
		<li class="list-group-item">
		  <span class="badge">Örökban</span>
		  <span class="lead">Ne csalj!</span>
		  <ul>
			<li>Ne használj hackelt, modolt klienst (x-ray, flyhack, stb.)</li>
			<li>Használható modok:
			  <ul>
				<li>Optifine</li>
				<li>Olyan minimap ami csak a felfedezett felszínt mutatja</li>
				<li>Egyéb grafika javító modok, amik nem jutattnak semmi többletinfohoz</li>
			  </ul>
			<li>Ne használj ki létező bugokat, ha hibát találsz jelentsd egy adminnak!</li>
		  </ul>
		</li>
		<li class="list-group-item">
		  <span class="badge">Pár nap, vagy örökban</span>
		  <span class="lead">Ne rongálj!</span>
		  <ul>
			<li>Más által lerakott dolgok kitörése (üveg is!)</li>
			<li>Fák félig levágása, lombkoronák otthagyása</li>
			<li>Nyersanyagkitermeléssel elrondítani a tájat (hatalmas lyuk a területedtől jó messze)</li>
			<li>Más spawnerének szétütése</li>
			<li>Gyújtogatás, lávázás</li>
			<li>Más állatinak megölése</li>
		  </ul>
		</li>
	  </ul>
	</div>

	<div class="panel panel-primary panel-primary-green">
	  <div class="panel-heading panel-heading-green">
		<h3 class="panel-title">Chat</h3>
	  </div>
	  <ul class="list-group">
		<li class="list-group-item">
		  <span class="badge">Mute, vagy pár óra ban</span>
		  <span class="lead">Írj kultúráltan!</span>
		  <ul>
			<li>Ne írj csupa CAPS-szel</li>
			<li>Ne spammelj</li>
			<li>Ne provokálj</li>
			<li>Ne káromkodj túlzottan</li>
		  </ul>
		</li>
		<li class="list-group-item">
		  <span class="badge">Pár óra vagy pár nap ban</span>
		  <span class="lead">Ne zavard a többieket!</span>
		  <ul>
			<li>Ne kéregess semmit (főleg ne adminoktól)</li>
			<li>Ne kérj olyan dolgokat amiket neked nincs jogod csinálni! (teleport, eső elállítása stb.)</li>
			<li>Ne hirdess másik szervert, a youtube csatornád, anyukád recepjeit!</li>
			<ul>
			  <li>Anyukád receptjeid szabad, de csak ha nagyon finomak!</li>
			</ul>
		  </ul>
		</li>
	  </ul>
	</div>

	<div class="panel panel-primary panel-primary-green">
	  <div class="panel-heading panel-heading-green">
		<h3 class="panel-title">Építkezés</h3>
	  </div>
	  <ul class="list-group">
		<li class="list-group-item">
		  <span class="badge">Pár nap vagy pár hét ban</span>
		  <span class="lead">Ne csúfítsd el a szervert!</span>
		  <ul>
			<li>Ne építs más területéhez túl közel (kivéve ha megbeszéltétek)</li>
			<li>Ne rondítsd el a tájat ott hagyott funkció nélküli “építményekkel” (random oszlopok, stb.)</li>
			<li>Ne bontsd el a falvakat, strongholdokat, templomokat, stb.</li>
		  </ul>
		</li>
		<li class="list-group-item">
		  <span class="badge">Pár hét vagy pár hónap ban</span>
		  <span class="lead">Ne rombold a szervert!</span>
		  <ul>
			<li>Ne építs <strong>állandóan működő</strong>, mozgó építményeket (kaktuszfarm, redstone gépek, mobfarm). Ha ilyesmit találunk akkor azt instant töröljük, mert lassítja a szervert!</li>
			<li>Maximum 60 állat és 40 hopper lehet mindenkinek!</li>
		  </ul>
		</li>
	  </ul>
	</div>
	
	<div class="panel panel-primary panel-primary-green">
	  <div class="panel-heading panel-heading-green">
		<h3 class="panel-title">Egyéb</h3>
	  </div>
	  <ul class="list-group">
		<li class="list-group-item">
		  <span class="lead">Ismert hibák</span>
		  <ul>
			<li>Az inventory néha eltűnik. Pakolj le mielőtt kilépsz! Ha nem ezt teszed, nem vállalunk felelősséget a cuccaidért.</li>

		  </ul>
		</li>
		<li class="list-group-item">
		  <span class="lead">Segítségkérés</span>
		  <ul>
			<li>Segítséget a /helpop paranccsal kérj!</li>
			<li>Ne nyaggasd a moderátorokat vagy adminokat, akkor fognak a gondjaiddal foglalkozni, amikor ráérnek</li>
		  </ul>
		</li>
	  </ul>
	</div>

  </div>

  <hr>

  <footer>
	<p>&copy; 2016 Crafters</p>
  </footer>
</div> <!-- /container -->

