/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
 }

 .bigger-text {
    font-size: 15px;
 }

 .navbar-inverse,
 .navbar-brand {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
 }

#navbar-title {
    color: #1f9f20;
}

.carousel-overlay {
    position: absolute;
    top: 120px;
    left: 150px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.carousel-overlay > h1 {
	font-size: 72px;
}

.carousel-overlay > p {
	text-transform: uppercase;
	font-weight: 700;
	text-align: right;
	font-size: 18px;
}

 .panel-heading {
    background-color: #1f9f20 !important;
    border-color: #1f9f20 !important;
 }

 .panel-primary{
    border-color: #1f9f20 !important;
 }

 .label-primary{
    background-color: #1f9f20 !important;
 }

 .green-link {
    color: #1f9f20 !important;
 }

 .mobile-cover {
    width:100%;
    height: 100px;
    background-image:url('mobile_cover.png');
    background-size:cover;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
 }

 .container-narrow {
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
 }

 #message {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 100;
 }
 
 #message-inner{
    margin-bottom: 0px;
    position: relative;
    left: -50%;
 }

 #message-text {
    margin-left: 20px;
    margin-right: 20px;
 }
