<!-- NAVBAR -->
<!-- TODO: active by controller, non-static links -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="index.php">Crafters Reborn</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
        <a href="#page-top"></a>
      </li>
      <li class="page-scroll">
        <a href="rules.php">Szabályzat</a>
      </li>
      <li class="page-scroll">
        <a href="help.php">Segítség</a>
      </li>
      <li class="page-scroll">
        <a href="whitelist.php">Whitelist</a>
      </li>
      <li class="page-scroll">
        <a href="donate.php">Támogatás</a>
      </li>
      <li class="page-scroll">
        <a href="dynmap.php">Dynmap</a>
      </li>
    </ul>
  </div>
</nav>
